<div class="center">
    <!--<h2 class="center">Graphisme</h2>-->
    <!--<img src="./data/picto9.png" width="60px" alt="graphisme">-->
    <p class="text_respon">Création et refonte de logo, définition de charte graphique, traitement de texte, mise en page, maquette.</p>
    <p class="text_respon">Dessin vectoriel, traitement de l’image (retouche, colorimétrie, détourage, montage…)</p>
    <span class="btn grey hoverable">
        <a href="#!/contact#formulaire_devis" class="white-text">Demande devis en ligne</a>
    </span>
    <div class="carousel carou ">
        <a class="carousel-item">
            <img height="100%" width="100%" src="../../data/GRAPHISME/crea_idee.jpg" alt="creation idee langon">
            <caption></caption>
        </a>
        <a class="carousel-item">
            <img height="100%" width="100%" src="../../data/GRAPHISME/creation.jpg" alt="creation langon">
            <caption>Création</caption>
        </a>
        <a class="carousel-item">
            <img height="100%" width="100%" src="../../data/GRAPHISME/graphisme_crea.jpg" alt="creation graphisme langon">
            <caption>Création graphique</caption>
        </a>
        <a class="carousel-item">
            <img height="100%" width="100%" src="../../data/GRAPHISME/mise_en_page.jpg" alt="mise en page langon">
            <caption>Mise en page</caption>
        </a>
        <a class="carousel-item">
            <img height="100%" width="100%" src="../../data/GRAPHISME/pantone_graphisme.jpg" alt="pantone graphisme langon">
            <caption>Pantone graphisme</caption>
        </a>
        <a class="carousel-item">
            <img height="100%" width="100%" src="../../data/GRAPHISME/PAO.jpg" alt="PAO langon">
            <caption></caption>
        </a>
        <a class="carousel-item">
            <img height="100%" width="100%" src="../../data/GRAPHISME/print_crea_pao.jpg" alt="Creation print langon">
            <caption></caption>
        </a>
    </div>
</div>