
.home {
    color: whitesmoke;
    background-color: black;

 }

 #carouselHome{
    width: 100%;
    height: 525px;
    z-index: 1;
    border-radius: 9px;
 }
label {
  font-size:15px;
  color: black;
}
  /*section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 20%;
}

 .demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 20;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}
#section03 a {
  padding-top: 30px;
}
#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.5);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}*/

@media screen and (max-width: 768px) {
	#logomobile {
            width: 150px;
	}
	#carouselHome .ch {
		    width: 100% ;
        height: initial;

	}
.carousel .indicators {
    position: inherit;
    align-items: center;
    left: 52% !important;
    right: 0;
    top: 70% !important;
    bottom: 0;
    margin: 0;
}
.picto4 {
	width: 35%;
}
h1, h2 {
	font-size: 2.56em;
}
.carousel .carousel-item>img {

}
	.text_respon {
    font-size: 16px;
}
}

   /* label focus color */
   .input-field input[type=text]:focus + label {
    color: rgb(10, 18, 65);
  }
     /* label focus color */
     .input-field input[type=text]:active + label {
      color: rgb(10, 18, 65);
    }
  .input-field label {
    color: rgb(39, 41, 189);
  }
   /* icon prefix focus color */
   .input-field .prefix.active {
    color: rgb(26, 122, 26);
  }
   /* icon prefix focus color */
   .input-field .active {
    color: rgb(26, 122, 26);
  }
  .input-field label {
    pointer-events: auto;
  }