<div class="home">
        <!--<br>-->
        <div class="carousel carousel-slider  row" id="carouselHome">
                <a class="carousel-item ch" href="#!/graphisme">
                        <img height="100%" width="100%" src="../../data/banieres/graphisme.jpg">
                </a>
                <a class="carousel-item ch" href="#!/signaletique">
                        <img height="100%" width="100%" src="../../data/banieres/serigraphie.jpg">
                </a>
                <a class="carousel-item ch" href="#!/imprimerie">
                        <img height="100%" width="100%" src="../../data/banieres/imprimerie.jpg">
                </a>
                <a class="carousel-item ch" href="#!/textile">
                        <img height="100%" width="100%" src="../../data/banieres/textile.jpg">
                </a>
                <a class="carousel-item ch" href="#!/graphisme">
                        <img height="100%" width="100%" src="../../data/banieres/graphisme.jpg">
                </a>
        </div>
        <div class="row">
                <div class="center-align col l8 col s12">
                        <h5>Bienvenue sur le site</h5>
                        <h4>AD2C</h4>
                        <p class="text_respon">Depuis 1998 nous nous efforçons de répondre au mieux à vos besoins et projets dans les domaines de
                                la création graphique, de l’imprimerie et de la sérigraphie.</p>
                        <p class="text_respon" class="hide-on-med-and-down">Une équipe à votre écoute, des conseils personnalisés, un matériel performant et une attention permanente
                                des tendances et nouveautés du marché restant mes principaux atouts pour une collaboration
                                réussie.
                        </p>
                        <p class="text_respon" class="">Nous vous souhaitons une bonne navigation sur notre site où vous trouverez l’ensemble de nos prestations.</p>
                        <!-- Modal Trigger -->
                        <button data-target="modal1" class="btn modal-trigger grey">Demande devis en ligne</button>
                        <div class="col l12 footer-contact">
                                <p class="grey-text text-lighten-4">
                                        <i class="material-icons loc">
                                                <a href="#!/contact"></a> location_on</i> 5, route de Landiras 33210 TOULENNE</p>
                                <p>
                                        <i class="material-icons phone">phone</i> 05 56 62 28 24

                                        <i class="material-icons email">email</i> contact@ad2c.fr</p>
                                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FAD2C-750244175031582%2F&width=228&layout=button_count&action=recommend&size=large&show_faces=false&share=true&height=46&appId"
                                        width="228" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                                        allowTransparency="true"></iframe>
                        </div>
                        <!-- Modal Structure -->
                        <div id="modal1" class="modal modal-fixed-footer">
                                <div class="modal-content">
                                        <div class="row " id="formulaire">
                                                <form action="#" class="col s12 col l12 black-text">
                                                        <h4 class="black-text center">Demande devis en ligne</h4>
                                                        <div class="row">
                                                                <div class="input-field col l12 col s12">
                                                                        <i class="material-icons prefix">group</i>
                                                                        <input id="first_name" type="text" class="validate">
                                                                        <label for="first_name">Nom de la société</label>
                                                                </div>
                                                                <div class="input-field col s12 col l6">
                                                                        <i class="material-icons prefix">location_on</i>
                                                                        <input id="adress" type="text" class="validate">
                                                                        <label for="adress">Adresse</label>
                                                                </div>
                                                                <div class="input-field col s12 col l6">
                                                                        <i class="material-icons prefix">phone_circle</i>
                                                                        <input id="last_name" type="number" class="validate">
                                                                        <label for="last_name" data-error="wrong">Tél</label>
                                                                </div>
                                                                <div class="input-field col s12 col l6">
                                                                        <i class="material-icons prefix">email</i>
                                                                        <input id="email" type="email" class="validate">
                                                                        <label for="email">Email</label>
                                                                </div>

                                                                <div class="input-field col s12 col l6">
                                                                        <i class="material-icons prefix">account_circle</i>
                                                                        <input id="contact_name" type="text" class="validate">
                                                                        <label for="contact_name">Nom du contact</label>
                                                                </div>
                                                        </div>
                                                        <div class="row">

                                                        </div>
                                                        <div class="row center">

                                                                <input type="checkbox" id="contactCheck" />
                                                                <label for="contactCheck">
                                                                        <h4 class="black-text">Demande de contact</h4>
                                                                </label>

                                                        </div>
                                                        <div class="row">
                                                                <div class="col l6">

                                                                        <input class="white" type="checkbox" ng-model="imprime" id="impri" />

                                                                        <label for="impri">
                                                                                <h4 class="black-text">Imprimerie</h4>
                                                                        </label>

                                                                        <div ng-show="imprime" class=" white">
                                                                                <div class="row">
                                                                                        <div class="input-field col s12 ">
                                                                                                <input id="typeP" ng-model="inputVal" type="text" ng-init="inputVal" class="validate">
                                                                                                <label for="typeP">Type de produit</label>
                                                                                        </div>
                                                                                        <div class="input-field col s12  black-text">
                                                                                                <input id="qualite" type="text" class="validate">
                                                                                                <label for="qualite">Qualité</label>
                                                                                        </div>
                                                                                        <div class="input-field col s12  black-text">
                                                                                                <input id="format" type="text" class="validate">
                                                                                                <label for="format">Format</label>
                                                                                        </div>
                                                                                </div>

                                                                                <div class="row black-text">
                                                                                        <div class="input-field col s12 ">
                                                                                                <input id="amount" type="number" class="validate">
                                                                                                <label for="amount" data-error="wrong">Quantité</label>
                                                                                        </div>
                                                                                        <div class="switch col s12">
                                                                                                <label>
                                                                                                        <span>Recto</span>
                                                                                                        <input id="RecVer" ng-click="isSwitchedOn1 = !isSwitchedOn1" ng-checked="isSwitchedOn1" type="checkbox">
                                                                                                        <span class="lever"></span>
                                                                                                        Recto/Verso
                                                                                                </label>
                                                                                        </div>

                                                                                        <div class="input-field col s12 ">
                                                                                                <input id="pages" type="number" class="validate">
                                                                                                <label for="pages" data-error="wrong">Nombre de pages</label>
                                                                                        </div>

                                                                                </div>
                                                                                <div class="row">
                                                                                        <!-- Switch -->
                                                                                        <div class="switch mySwitch black-text col s12">
                                                                                                <label>
                                                                                                        <h6 class="black-text">Fichier fourni :
                                                                                                        </h6>
                                                                                                        <span>Non</span>
                                                                                                        <input id="fileF" type="checkbox">
                                                                                                        <span class="lever"></span>
                                                                                                        <span>Oui</span>
                                                                                                </label>
                                                                                        </div>
                                                                                        <div class="input-field col s12">
                                                                                                <input id="finition" type="text" class="validate">
                                                                                                <label for="finition">Finition</label>
                                                                                        </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                        <div class="input-field col s12">
                                                                                                <input id="remarque" type="text" class="validate">
                                                                                                <label for="remarque">Remarques</label>
                                                                                        </div>
                                                                                </div>

                                                                        </div>
                                                                </div>
                                                                <div class="col l6">
                                                                        <input class=" white" type="checkbox" ng-model="serig" id="seri" />

                                                                        <label for="seri">
                                                                                <h4 class="black-text">Sérigraphie</h4>
                                                                        </label>

                                                                        <div ng-show="serig" class=" white">
                                                                                <span>
                                                                                        <div class="row center">
                                                                                                <p class="col l6 s12">
                                                                                                        <input type="checkbox" id="panCheck" />
                                                                                                        <label for="panCheck">Panneaux
                                                                                                        </label>
                                                                                                </p>
                                                                                                <p class="col l6 s12">
                                                                                                        <input type="checkbox" id="enseignesCheck" />
                                                                                                        <label for="enseignesCheck">Enseignes
                                                                                                        </label>
                                                                                                </p>
                                                                                                <p class="col l6 s12">
                                                                                                        <input type="checkbox" id="autocolCheck" />
                                                                                                        <label for="autocolCheck">Autocollants
                                                                                                        </label>
                                                                                                </p>
                                                                                                <p class="col l6 s12">
                                                                                                        <input type="checkbox" id="textilesCheck" />
                                                                                                        <label for="textilesCheck">Textiles
                                                                                                        </label>
                                                                                                </p>
                                                                                                <p class="col l6 s12">
                                                                                                        <input type="checkbox" id="standsCheck" />
                                                                                                        <label for="standsCheck">Stands
                                                                                                        </label>
                                                                                                </p>
                                                                                                <p class="col l6 s12">
                                                                                                        <input type="checkbox" id="objCheck" />
                                                                                                        <label for="objCheck">Objets pub
                                                                                                        </label>
                                                                                                </p>
                                                                                                <p class="col l6 s12">
                                                                                                        <input type="checkbox" id="bacheCheck" />
                                                                                                        <label for="bacheCheck">Bâches
                                                                                                        </label>
                                                                                                </p>
                                                                                                <p class="col l6 s12">
                                                                                                        <input type="checkbox" id="decovCheck" />
                                                                                                        <label for="decovCheck">Déco véhicule
                                                                                                        </label>
                                                                                                </p>
                                                                                                <p class="col l6 s12">
                                                                                                        <input type="checkbox" id="tamponsCheck" />
                                                                                                        <label for="tamponsCheck">Tampons
                                                                                                        </label>
                                                                                                </p>
                                                                                                <p class="col l6 s12">
                                                                                                        <input type="checkbox" id="graphCheck" />
                                                                                                        <label for="graphCheck">Graphisme
                                                                                                        </label>
                                                                                                </p>
                                                                                                <p class="col l6 s12">
                                                                                                        <input type="checkbox" id="autrecheck" />
                                                                                                        <label for="autrecheck">Autres
                                                                                                        </label>
                                                                                                </p>
                                                                                        </div>
                                                                                </span>
                                                                        </div>
                                                                </div>
                                                        </div>


                                                </form>
                                        </div>
                                </div>
                                <div class="modal-footer center">
                                        <button ng-click="getValue()" class="modal-action modal-close waves-effect waves-green btn-flat center col l12">Valider</button>
                                </div>
                        </div>
                </div>
                <div id="section04" class="center-align col l4 col s12">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FAD2C-750244175031582%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                                width="340" height="500" style="border: 5px solid #3b5998;overflow:hidden;border-radius: 3px" scrolling="no"
                                frameborder="0" allowTransparency="true"></iframe>
                </div>
        </div>
        <div>
                <img src="./data/newsletter/newslettrer.png" width="100%" alt="newsletter">
        </div>

</div>