<div id="imprimerie" class="center">
  <!--<h4 class="center" id="carterie">Imprimerie </h4>-->
  <!--<img class="photo_imprim" src="../../data/impression_magenta-0.jpg" width="20%" alt="imprimerie">-->
  <!--<img  class='hide-on-med-and-down' src="../../data/picto 8.png" width="150px" alt="imprimerie">-->
  <p class="text_respon">Carterie, papeterie, flyer/dépliants, brochures, plaquettes, affiches, étiquettes, autocopiant,…</p>
  <p class="text_respon">Compétences spécifiques (dorure, vernis 3D, découpe, papier recyclé PEFC…)</p>
  <button href="#!/contact#formulaire_devis" class="btn center grey hoverable z-depth-5">
    <a href="#!/contact#formulaire_devis" class="center white-text">Demande Devis en ligne</a>
  </button>

  <div class="carousel carou-tex">
    <a class="carousel-item">
      <img height="100%" width="100%" src="../../data/IMPRIMERIE/imprimerie.jpg">
      <caption>Imprimerie</caption>
    </a>
    <a class="carousel-item">
      <img height="100%" width="100%" src="../../data/IMPRIMERIE/Cartes_de_visite.jpg">
      <caption>Cartes de visite</caption>
    </a>
    <a class="carousel-item">
      <img height="100%" width="100%" src="../../data/IMPRIMERIE/flyers.jpg">
      <caption>Flyer</caption>
    </a>
    <a class="carousel-item">
      <img height="100%" width="100%" src="../../data/IMPRIMERIE/flyer_depli.jpg">
      <caption>Flyer dépliants</caption>
    </a>
    <a class="carousel-item">
      <img height="100%" width="100%" src="../../data/IMPRIMERIE/affiche_grand_format.jpg">
      <caption>Affiche grand format</caption>
    </a>
    <a class="carousel-item">
      <img height="100%" width="100%" src="../../data/IMPRIMERIE/Affiche.jpg">
      <caption>Affiche</caption>
    </a>
    <a class="carousel-item">
      <img height="100%" width="100%" src="../../data/IMPRIMERIE/plaquette_presentation.jpg">
      <caption>Plaquette présentation</caption>
    </a>
    <a class="carousel-item">
      <img height="100%" width="100%" src="../../data/IMPRIMERIE/plaquette_VTC.jpg">
      <caption>Plaquette</caption>
    </a>
    <a class="carousel-item">
      <img height="100%" width="100%" src="../../data/IMPRIMERIE/Plaquette.jpg">
      <caption>Plaquette</caption>
    </a>
  </div>
</div>