
.enseigne {
    color: black;
    
}
div.carousel a.carousel-item{
  width: 425px;  
  height: 283px;
}
div.carousel {
  height: 345px;
}
div.totem {
  height: 650px;
}
div.totem a.to {
  width: 470px;  
  height: 600px;
}
div.stan {
  height: 720px;
}
div.stan a.to {
  width: 490px;  
  height: 550px;
}
div.stan a.ta {
  width: 626px;  
  height: 450px;
}
div.stan a.ti {
  width: 450px;  
  height: 650px;
}
div.stan a.ts {
  width: 600px;  
  height: 550px;
}
/*custom carousel caption*/
a {
	  font-size: 16px ;
	  color: white ;
}
.deco_vitrine, .lettre_decoupe, .objetPub , .magnetic {
    background: rgba(255,93,177,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
/* background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,93,177,1)), color-stop(100%, rgba(239,1,124,1))); */
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c', GradientType=1 );


}
.totems, .enseigne_lum, .tampon, .microf {
background: #ffd65e; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #ffd65e 0%, #febf04 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #ffd65e 0%,#febf04 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #ffd65e 0%,#febf04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
