
    <div class="hide-on-med-and-down footer row" id="footer">
      <div class="col l2 s2">
      <img src="./data/logo.png" id="logofooter"alt="logo_ad2c">
      <p class="grey-text text-lighten-4"><i class="material-icons loc"><a href="#!/contact"></a> location_on</i>  5, route de Landiras<br>33210 TOULENNE</p>
      <p><i class="material-icons phone">phone</i>05 56 62 28 24</p>
      <h6><i class="material-icons email">email</i>  contact@ad2c.fr</h6>
      </div>
    <div class="col l2 s2">
      <a class="white-text imprim" href="#!/signaletique">Signalétique</a>
      <ul class="footerlien">
        <li><a class="lien col l12  sig " href="#!/signaletique#deco_vehicule">Enseigne Panneau</a></li>
        <li><a class="lien col l12  sig" href="#!/signaletique#deco_vehicule">Décoration véhicule</a></li>
        <li><a class="lien col l12  sig " href="#!/signaletique#deco_vitrine">Décoration vitrine</a></li>
        <li><a class="lien col l12  sig " href="#!/signaletique#stand">Stand</a></li>
        <li><a class="lien col l12  sig " href="#!/signaletique#deco">Déco</a></li>
        <li><a class="lien col l12  sig " href="#!/signaletique#objet_pub">Objet Pub</a></li>
        <li><a class="lien col l12  sig " href="#!/signaletique#tampon">Tampon</a></li>
      </ul>
    </div>
    <div class="col l2 s2">
      <h5 class="white-text ">Imprimerie</h5>
      <!--<ul class="footerlien">
        <li><a class="lien col l12 text" href="#!/imprimerie#carterie">Carterie</a></li>
        <li><a class="lien col l12 text" href="#!/imprimerie#office">Office</a></li>
        <li><a class="lien col l12 text" href="#!/imprimerie#flyer">Flyer / Dépliant</a></li>
        <li><a class="lien col l12 text" href="#!/imprimerie#Brochure">Brochure</a></li>
        <li><a class="lien col l12 text" href="#!/imprimerie#Plaquette">Plaquette</a></li>
        <li><a class="lien col l12 text" href="#!/imprimerie#flyer">Affiche</a></li>
      </ul>-->
    </div>
    <div class="col l2 s2">
      <h5 class="white-text left-algin">Textile</h5>
      <!--<ul class="footerlien">
        <li><a class="lien col l12 text" href="#!/textile#serigraphie">Sérigraphie</a></li>
        <li><a class="lien col l12 text" href="#!/textile#flocage">Flocage</a></li>
        <li><a class="lien col l12 text" href="#!/textile#sublimation">Sublimation</a></li>
      </ul>-->
    </div>
    <div class="col l2 s2">
      <h5 class="white-text">Graphisme</h5>
    </div>
    <div class="col l2 s2">
      <h5 class="white-text">Contact</h5>
    </div>
</div>
<div class="footer-copyright">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">CGU</a>
</div>