<div>
  <div id="textil" class="center">
    <!--<h1> Textile </h1>-->
    <!--<img src="./data/picto10.png" width="60px" alt="textile">-->
    <p class="text_respon">Sérigraphie traditionnelle, flocage (adapté pour petite série), transferts de découpe, imprimable et numérique. Sublimation.</p>
      <p class="text_respon">Tous types de textiles, vêtements de sport, vêtements de travail, bagagerie</p>
    <span class="btn grey hoverable"><a href="http://www.sols-products.com/ecatalogue/2018/fr/mobile/index.html#p=202" class="white-text">Catalogue en ligne</a></span>
    <span class="btn grey hoverable"><a href="#!/contact#formulaire_devis" class="white-text">Demande devis en ligne</a></span>
    <div class="carousel carou textiles ">
      <a class="carousel-item tex"><img  src="data/TEXTILE/echenillage.jpg" alt="Echenillage"><caption>Echenillage</caption></a>
      <a class="carousel-item tex"><img  src="data/TEXTILE/Flocage_textile.jpg" alt="Flocage Textile langon"><caption>Flocage Textile</caption></a>
      <a class="carousel-item tex"><img  src="data/TEXTILE/flocage.jpg" alt="Flocage langon"><caption>Flocage</caption></a>
      <a class="carousel-item tex"><img  src="data/TEXTILE/impression_textile.jpg" alt="Impression Textile langon"><caption>Impression Textile</caption></a>
      <a class="carousel-item tex"><img  src="data/TEXTILE/Serigraphie_sur_Tee-shirt.jpg" alt="Sérigraphie sur Tee-shirt langon"><caption>Sérigraphie sur Tee-shirt</caption></a>
      <a class="carousel-item tex"><img  src="data/TEXTILE/tee-shirt_transfert_colorprint.jpg" alt="Tee-shirt transfert colorprint"><caption>Tee-shirt transfert colorprint</caption></a>
      <a class="carousel-item tex"><img  src="data/TEXTILE/textile_personnalise.jpg" alt="Textile personnalisé langon"><caption>Textile personnalisé</caption></a>
      <a class="carousel-item tex"><img  src="data/TEXTILE/textile_publicitaire_personnalise.jpg" alt="Textile publicitaire personnalisé langon"><caption>Textile publicitaire personnalisé</caption></a>
    </div>
  </div>

</div>