<div>
  <div class="head_box center-align hide-on-med-and-down ">
    <img width="100%" height="100%" class="Logo hide-on-med-and-down responsive-img" href="#!/accueil" src="data/logo.png" alt="Logo_ad2c" />
    <!--<img class="responsive-img materialboxed tampon hide-on-med-and-down right"  src="./data/tampon.png" alt="tampon AD2C" />-->
  </div>
  <div id="gradient1"></div>
  <nav class="black" role="navigation">
    <div class="nav-wapper">
      <div class="hide-on-med-and-down menu row">
        <a class="col l2 accueil waves-effect waves-light" href="#!/accueil">Accueil</a>
        <ul class=" col l2 m2 center">
          <li><a class="accueil text_sig" href="#!/signaletique">Signalétique</a>
            <ul class="menu_sig">
              <li><a href="#!/signaletique#serigraphie" class="accueil_2 accueil">Enseigne Panneau</a>
                <ul>
                  <li><a href="#!/signaletique#panneau" class="accueil_2 accueil">Panneaux </a></li>
                  <li><a href="#!/signaletique#deco_vitrine" class="accueil_2 accueil">Décoration vitrine</a></li>
                  <li><a href="#!/signaletique#totems" class="accueil_2 accueil">Totems</a></li>
                  <li><a href="#!/signaletique#baches" class="accueil_2 accueil">Baches</a></li>
                  <li><a href="#!/signaletique#pre_enseigne" class="accueil_2 accueil">Pré-enseigne et stop trottoir</a></li>
                  <li><a href="#!/signaletique#lettre_decoupe" target="_self" class="accueil_2 accueil">Lettre découpées 3D</a></li>
                  <li><a href="#!/signaletique#enseigne_lum" target="_self" class="accueil_2 accueil">Enseigne lumineuses</a></li>
                </ul>
              </li>
              <li><a href="#!/signaletique#deco_vehicule" class="accueil_2 accueil">Décoration véhicule</a>
                <ul>
                  <li><a href="#!/signaletique#adhesif" class="accueil_2 accueil">Adhésifs</a></li>
                  <li><a href="#!/magnetique" class="accueil_2 accueil">Magnétiques</a></li>
                  <li><a href="#!/signaletique#microperfore" class="accueil_2 accueil">Microperforé</a></li>
                </ul>
              </li>
              <li><a href="#!/signaletique#stand" class="accueil_2 accueil">Stand</a>
              </li>
              <li><a href="#!/signaletique#deco" class="accueil_2 accueil">Décoration intérieure</a>
              </li>
              <li><a href="#!/signaletique#objet_pub" class="accueil_2 accueil">Objet Publicitaire</a>
              </li>
              <li><a href="#!/signaletique#tampon" class="accueil_2 accueil raduis_menu">Tampon</a>
              </li>
            </ul>
          </li>
        </ul>
        <a class="imprim col l2 waves-effect waves-pa" href="#!/imprimerie">Imprimerie</a>
        <a class="imprim waves-effect waves-light col l2" href='#!/textile'>Textile</a>
        <a class="contac col l2 m2 waves-effect waves-yellow" href="#!/graphisme">Graphisme</a>
        <a class="contac col l2 m2 waves-effect waves-yellow" href="#!/contact">Contact</a>
        <!--<a class="contac col l1 m2 waves-effect waves-light">Connexion</a>-->
      </div>
    </div>
    <div>
      <!-- Nav mobile   -->
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons menu">menu</i></a>
      <a href="#/accueil" data-activates="nav-mobile" class="brand-logo responsive-img LogoM button-collapse"><img class="responsive-img Logo" id="logomobile" src="../../data/logo.png" alt="Logo AD2C" /></a>
      <ul id="nav-mobile" class="side-nav black" style="left: 0px;">
        <li> <a class="accueil white-text" href="#!/accueil">Accueil</a></li>
        <li><a class=" sig white-text" href="#!/signaletique">Signalétique</a></li>
        <li><a class="imprim white-text" href="#!/imprimerie">Imprimerie</a></li>
        <li><a class="text white-text" href="#!/textile">Textile</a></li>
        <li><a class="graph white-text" href="#!/graphisme">Graphisme</a></li>
        <li><a class="contac white-text" href="#!/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div id="gradient"></div>
  <div class="cRetour1 hide-on-med-and-down">
    <nav class="nav_fixe" role="navigation">
      <div class="nav-wapper">
        <div class="menu row menufixe">
          <a class="col l2 center menufixetext sig" href="#!/accueil">Accueil</a>
          <ul class=" col l2 signaletique">
            <li><a class="menufixetext">Signalétique</a>
              <ul class="">
                <li><a class="accueil_2 accueil" href="#!/signaletique#signaletique">Enseigne Panneau</a>
                  <ul>
                    <li><a href="#!/signaletique#panneaux" class="accueil_2 accueil">Panneaux </a></li>
                    <li><a href="#!/signaletique#deco_vitrine" class="accueil_2 accueil">Décoration vitrine</a></li>
                    <li><a href="#!/signaletique#totems" class="accueil_2 accueil">Totems</a></li>
                    <li><a href="#!/signaletique#baches" class="accueil_2 accueil">Baches</a></li>
                    <li><a href="#!/signaletique#pre_enseigne" class="accueil_2 accueil">Pré-enseigne et stop trottoir</a></li>
                    <li><a href="#!/signaletique#lettre_decoupe" class="accueil_2 accueil">Lettre découpées 3D</a></li>
                    <li><a href="#!/signaletique#enseigne_lum" class="accueil_2 accueil">Enseigne lumineuses</a></li>
                  </ul>
                </li>
                <li><a href="#!/signaletique#deco_vehicule" class="accueil_2 decor_vehicule accueil">Décoration véhicule</a>
                  <ul>
                    <li><a href="#!/signaletique#adhesif" class="accueil_2 accueil">Adhésifs</a></li>
                    <li><a href="#!/signaletique#magnetique" class="accueil_2 accueil">Magnétiques</a></li>
                    <li><a href="#!/signaletique#microperfore" class="accueil_2 accueil">Microperforé</a></li>
                  </ul>
                </li>
                <li><a href="#!/signaletique#stand" class="accueil_2 accueil">Stand</a>
                </li>
                <li><a href="#!/signaletique#deco" class="accueil_2 accueil">Décoration intérieure</a>
                </li>
                <li><a href="#!/signaletique#objet_pub" class="accueil_2 accueil">Objet Publicitaire</a>
                </li>
                <li><a href="#!/signaletique#tampon" class="accueil_2 accueil">Tampon</a>
                </li>
              </ul>
            </li>
          </ul>
          <a class=" col l2 m2 imprim menufixetext" href="#!/imprimerie">Imprimerie</a>
          <a class='col l2 m2 imprim menufixetext' href='#!/textile'>Textile</a>
          <a class="col l2 m2 menufixetext contac" href="#!/graphisme">Graphisme</a>
          <a class="col l2 m2 menufixetext contac" href="#!/contact">Contact</a>
        </div>
      </div>
      <div id="gradient2"></div>

    </nav>
  </div>
  <div class="cRetour hide-on-med-and-down"><i class="material-icons">arrow_upward</i></div>
</div>