<div id="signaletique">
  <div id="panneaux" class="section center blue darken-4 ">
    <h4 class="center">Panneau publicitaire et chantier</h4>
    <p>Impression numérique ou lettrage adhésif. Fabrication sur mesures.</p>
    <p>Réalisation de structures sur mesures. Nous pouvons réaliser la pose de nos travaux.</p>
    <p>Clients : Professionnels, particuliers, associations, institutionnels.</p>
    <button data-target="modal1" class="btn modal-trigger grey hoverable z-depth-5">Demande devis en ligne</button>
    <div>
      <div class="carousel carou ">
        <a class="carousel-item "><img height="100%" src="../../data/serigraphie/panneaux/enseigne_dibon_couleur.JPG" alt="Enseigne dibon ad2c langon"><caption>Enseigne Dibon</caption></a>
        <a class="carousel-item"><img height="100%"  src="../../data/serigraphie/panneaux/enseigne_dibon_et_vitrine.JPG" alt="Enseigne vitrine ad2c langon"><caption>Enseigne Vitrine</caption></a>
        <a class="carousel-item"><img height="100%"  src="../../data/serigraphie/panneaux/enseigne_et_depoli.JPG" alt="Enseigne et depoli ad2c langon"><caption>Enseigne et dépoli</caption></a>
        <a class="carousel-item"><img height="100%"  src="../../data/serigraphie/panneaux/enseigne_marche_leopold_rochesuryon.jpg" alt="Enseigne ad2c langon"><caption>Enseigne</caption></a>
        <a class="carousel-item"><img height="100%"  src="../../data/serigraphie/panneaux/enseigne_panneau.JPG" alt="Enseigne panneau ad2c langon"><caption>Enseigne panneau</caption></a>
        <a class="carousel-item"><img height="100%"  src="../../data/serigraphie/panneaux/enseigne-caisson-drapeau-486.jpg" alt="Enseigne caisson drapeau ad2c langon"><caption>Enseigne caisson drapeau</caption></a>
        <a class="carousel-item"><img height="100%"  src="../../data/serigraphie/panneaux/impression_panneau_chantier.jpg" alt="Impression panneau chantier ad2c langon"><caption>Impression panneau chantier</caption></a>
        <a class="carousel-item"><img height="100%"  src="../../data/serigraphie/panneaux/panneau plexi.jpg" alt="Panneau plexi ad2c langon"><caption>Panneau Plexi</caption></a>
        <a class="carousel-item"><img height="100%"  src="../../data/serigraphie/panneaux/Panneau_publicitaire.jpg" alt="Panneau publicitaire ad2c langon"><caption>Panneau publicitaire</caption></a>
        <a class="carousel-item"><img height="100%"  src="../../data/serigraphie/panneaux/Panneax deco.jpg" alt="Panneaux décoration ad2c langon"><caption>Panneaux déco</caption></a>
        <a class="carousel-item"><img height="100%"  src="../../data/serigraphie/panneaux/pose_panneaux_de_chantier.jpeg" alt="Pose panneaux de chantier ad2c langon"><caption>Pose panneaux de chantier</caption></a>
      </div>
    </div>
  </div>
  <div class="section center text_respon deco_vitrine">
    <!--<img src="../../data/picto7.png" width="5%" alt="Déco_vitrine">-->
    <h4 id="deco_vitrine">Décoration de vitrine</h4>
    <p>Impression numérique, lettrage adhésif, micro-perforé</p>
    <p>Fabrication sur mesures. Nous pouvons réaliser la pose de nos travaux</p>
    <p>Clients: Professionnels, associations, institutionnels</p>
    <button data-target="modal1" class="btn modal-trigger grey hoverable z-depth-5">Demande devis en ligne</button>
    <div class="carousel carou ">
      <a class="carousel-item "><img height="100%" width="100%" src="../../data/serigraphie/deco_vitrine/Adhesif_deploi.jpg" alt="Décoration adhésifs ad2c langon"><caption>Décoration Adhésifs</caption></a>
      <a class="carousel-item "><img height="100%" width="100%" src="../../data/serigraphie/deco_vitrine/Adhesif_sur_vitrine.jpg" alt="Adhesif sur vitrine ad2c langon"><caption>Adhesif sur vitrine</caption></a>
      <a class="carousel-item "><img height="100%" width="100%" src="../../data/serigraphie/deco_vitrine/Adhesif-effet-verre-depoli-Le-Ponton-by-contraste.jpg" alt="Adhesif effet verre depoli Le-Ponton ad2c langon"><caption>Adhesif effet verre depoli</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/deco_vitrine/deco_noel_microperf.jpg" alt="Décoration Microperforé ad2c langon"><caption>Décoration Microperforé</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/deco_vitrine/Deco_de_vitrine.jpg" alt="Décoration vitrine ad2c langon"><caption>Décoration vitrine</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/deco_vitrine/Depli_decoupe.jpg" alt="Depli découpées ad2c langon"><caption>Depli découpées</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/deco_vitrine/Deploli.jpg" alt="Adhesif sur vitre ad2c langon"><caption>Adhesif vitre</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/deco_vitrine/Enseigne_Adhesifs_vitrine_Vitrophanie.jpg" alt="Enseigne Adhesif vitrine Vitrophanie ad2c langon"><caption>Enseigne Adhesif vitrine Vitrophanie</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/deco_vitrine/Microperfore.jpg" alt="Microperforé ad2c langon"><caption>Microperforé</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/deco_vitrine/Vitrophanie.jpg" alt="Vitrophanie ad2c langon"><caption>Vitrophanie</caption></a>
    </div>
  </div>
  <div class="section center totems">
    <h4 id="totems">Totems</h4>
    <p>Impression numérique ou lettrage adhésif</p>
    <p>Fabrication sur mesures. Nous pouvons réaliser la pose de nos travaux</p>
    <p>Clients: Professionnels, associations, institutionnels</p>
    <button data-target="modal1" class="btn modal-trigger grey hoverable z-depth-5">Demande devis en ligne</button>
    <div class="carousel carou totem ">
      <a class="carousel-item to"><img height="100%" width="100%" src="../../data/serigraphie/totem/totem_bombe.jpg" alt="totem ad2c langon"><caption>Totem</caption></a>
      <a class="carousel-item to"><img height="100%" width="100%" src="../../data/serigraphie/totem/totem_dibon.jpg" alt="totem dibon ad2c langon"><caption>Totem Dibon</caption></a>
      <a class="carousel-item to"><img height="100%" width="100%" src="../../data/serigraphie/totem/totem_lattes.jpg" alt="totem lattes ad2c langon"><caption>Totem lattes</caption></a>
      <a class="carousel-item to"><img height="100%" width="100%" src="../../data/serigraphie/totem/Totem_lumineux.jpg"alt="totem lumineux ad2c langon"><caption>Totem lumineux</caption></a>
      <a class="carousel-item to"><img height="100%" width="100%" src="../../data/serigraphie/totem/totem_preforme.jpg" alt="totem preforme ad2c langon"><caption>Totem preforme</caption></a>
      <a class="carousel-item to"><img height="100%" width="100%" src="../../data/serigraphie/totem/totem_pub.jpg" alt="totem ad2c langon"><caption>Totem</caption></a>
      <a class="carousel-item to"><img height="100%" width="100%" src="../../data/serigraphie/totem/Totem-personnalise.jpg" alt="totem personnalisé ad2c langon"><caption>Totem-personnalisé</caption></a>
      <a class="carousel-item to"><img height="100%" width="100%" src="../../data/serigraphie/totem/Totem.jpg" alt="totem ad2c langon"><caption>Totem</caption></a>
      <a class="carousel-item to"><img height="100%" width="100%" src="../../data/serigraphie/totem/Totem2.jpg" alt="totem ad2c langon"><caption>Totem</caption></a>
    </div>
  </div>
  <div class="center grey darken-1 section ">
    <h4 id="baches">Bâches</h4>
    <p>Impression numérique ou lettrage adhésif</p>
    <p>Fabrication sur mesures, diverses finitions</p>
    <p>Clients : Professionnels, particuliers, associations, institutionnels</p>
    <button data-target="modal1" class="btn modal-trigger grey hoverable z-depth-5">Demande devis en ligne</button>
    <div class="carousel carou  ">
      <a class="carousel-item z-depth-5"><img  height="100%" width="100%" src="../../data/serigraphie/baches/bache-potence.jpg" alt="Bâche potence ad2c langon"><caption>Bâche potence</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/baches/bache_avec_oeillets.jpg" alt="Bâche potence ad2c langon"><caption>Bâche avec oeillets</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/baches/bache_et_panneau_chantier.JPG" alt="Bâche potence ad2c langon"><caption>Bâche et panneau de chantier</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/baches/bache_potence2.jpg" alt="Bâche potence ad2c langon"><caption>Bâche potence</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/baches/bache_publicitaire.jpg" alt="Bâche potence ad2c langon"><caption>Bâche publicitaire</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/baches/bache_tendue.jpg" alt="Bâche potence ad2c langon"><caption>Bâche tendue</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/baches/Bache.jpg" alt="Bâche potence ad2c langon"><caption>Bâche</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/baches/bache.jpg" alt="Bâche potence ad2c langon"><caption>Bâche</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/baches/baches_bannieres.jpg" alt="Bâche potence ad2c langon"><caption>Bâche banniere</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/baches/banderole_publicitaire.jpg"><caption>Banderole publicitaire</caption></a>
    </div>
  </div>
  <div class="center section blue darken-4">
    <h4 id="pre_enseigne">Pre-enseigne et stop trottoir</h4>
    <p>Impression numérique ou lettrage adhésif</p>
    <p>Nous pouvons réaliser la pose de nos travaux</p>
    <p>Clients: Professionnels, associations, institutionnels</p>
    <button data-target="modal1" class="btn modal-trigger grey hoverable z-depth-5">Demande devis en ligne</button>
    <div class="carousel carou ">
      <a class="carousel-item "><img height="100%" width="100%" src="../../data/serigraphie/pre-enseigne_stop/photo_stop_trottoir.jpg" alt="Stop Trottoir ad2c langon"><caption>Stop Trottoir</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/pre-enseigne_stop/pre-enseigne_clinique.jpg" alt="Pre-enseigne clinique ad2c langon"><caption>Pre-enseigne clinique</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/pre-enseigne_stop/pre-enseigne_double.jpg" alt="Pre-enseigne double ad2c langon"><caption>Pre-enseigne double</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/pre-enseigne_stop/pre-enseigne1.jpg" alt="Pre-enseigne ad2c langon"><caption>Pre-enseigne</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/pre-enseigne_stop/stop-trottoir-double-face.jpg" alt="Stop trottoir double face ad2c langon"><caption>Stop trottoir double face</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/pre-enseigne_stop/stop-trottoir-simple.jpg" alt="Stop trottoir simple ad2c langon"><caption>Stop trottoir simple</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/pre-enseigne_stop/preenseignes.jpg" alt="Pre-enseign ad2c langon"><caption>Pre-enseigne</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/pre-enseigne_stop/preenseigne_detail.jpg" alt="Pre enseigne detail ad2c langon"><caption>Pre enseigne detail</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/pre-enseigne_stop/preenseigne.jpg" alt="Pre-enseigne ad2c langon"><caption>Pre-enseigne</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/pre-enseigne_stop/Stop-trottoir.jpg" alt="Stop Trottoir ad2c langon"><caption>Stop-trottoir</caption></a>
    </div>
  </div>
  <div class="center section lettre_decoupe">
    <h4 id="lettre_decoupe">Lettres découpées 3D</h4>
    <p>Fabrication sur mesures, diverses finitions</p>
    <p>Nous pouvons réaliser la pose de nos travaux</p>
    <p>Clients : Professionnels, associations, institutionnel</p>
    <button data-target="modal1" class="btn modal-trigger grey hoverable z-depth-5">Demande devis en ligne</button>
    <div class="carousel carou ">
      <a class="carousel-item "><img height="100%" width="100%" src="../../data/serigraphie/lettres-decoupes/au_vieux_castel.jpg" alt="Lettre découpé au vieux castel ad2c langon"><caption>Lettres découpées</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/lettres-decoupes/Lettre_PVC_decoupees.jpg" alt="lettre découpées PVC a2dc langon"><caption>Lettres découpées PVC</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/lettres-decoupes/lettres _decoupee_led.jpg" alt="lettres découpées Led ad2c langon"><caption>Lettres découpées LED</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/lettres-decoupes/lettres_decoupee_et_vitrine.jpg" alt="Lettres découpées et vitrine ad2c langon"><caption>Lettres découpées et vitrine</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/lettres-decoupes/lettres_decoupees_chateau.jpg" alt="Lettres découpées ad2c langon"><caption>Lettres découpées</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/lettres-decoupes/Lettres_decoupees.jpg" alt="Lettres découpées ad2c langon" ><caption>Lettres découpées</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/lettres-decoupes/lettres_pvc.JPG" alt="Lettres découpées PVC ad2c langon"><caption>Lettres découpées PVC</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/lettres-decoupes/nail_bar_enseigne.jpg" alt="Nail bar enseigne ad2c langon"><caption>Nail bar enseigne</caption></a>
    </div>
  </div>
  <div class="center section enseigne_lum z-depth-5">
    <h4 id="enseigne_lum">Enseignes lumineuses</h4>
    <!-- <p>Bloc, rétroéclairage</p> -->
    <p>Impression numérique ou lettrage adhésif</p>
    <p>Fabrication sur mesures. Nous pouvons réaliser la pose de nos travaux</p>
    <p>Clients : Professionnels, associations, institutionnels</p>
    <button data-target="modal1" class="btn modal-trigger grey hoverable z-depth-5">Demande devis en ligne</button>
    <div class="carousel carou ">
      <a class="carousel-item "><img height="100%" width="100%" src="../../data/serigraphie/enseignes_lumineuses/enseigne-ecole-de-danse-caisson-lumineux-lyon.jpg" alt="caisson lumineux langon"><caption>Caisson lumineux</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/enseignes_lumineuses/Enseigne-Lettre-PMMA-lumineuse-a-leds.jpg" alt="enseigne lettre lumineuse langon"><caption>Enseigne lettre</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/enseignes_lumineuses/enseigne-lumineuse-mg-salon-coiffure-vire-relief.jpg" alt="Enseigne lumineuse relief langon"><caption>Enseigne lumineuse Relief</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/enseignes_lumineuses/Enseignes-Lumineuses-a-Lyon-pour-TACCA-via-Rolle-Halles-Paul-Bocuse-min.jpg" alt=""><caption>Enseigne lumineuse Tacca</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/enseignes_lumineuses/fr.jpg" alt="petite enseigne lumineuse langon"><caption>Petite enseigne lumineuse</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/enseignes_lumineuses/IMG_6493.jpg" alt="enseigne led langon"><caption>Enseigne Led</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/enseignes_lumineuses/institut-beaute-essentielle_detail-enseigne.jpg" alt="enseigne lumineuse langon"><caption>Enseigne lumineuse</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/enseignes_lumineuses/Led.jpg" alt="enseigne led lagon"><caption>Enseigne Led</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/enseignes_lumineuses/lettre_lumineuse.jpg"alt="lettres_lumineuses_langon"><caption>Lettre lumineuse</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/enseignes_lumineuses/lettres-boitiers.jpg" alt="lettres_boitiers_langon"><caption>Lettres boitiers</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/enseignes_lumineuses/P1.jpg" alt="enseigne lumineuse relief"><caption>Enseigne lumineuse relief</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/enseignes_lumineuses/retro_eclairage.jpg" alt="Retro éclairage langon"><caption>Retro éclairage</caption></a>
    </div>
  </div>
  <div class="section grey darken-1 center ">
    <!--<img id="deco_vehicule z-depth-5" src="../../data/picto5.png" width="5%" alt="déco_vehicule">-->

    <h4 id="adhesif">Décoration vehicule</h4>
    <h4>Adhésifs</h4>
    <p>Impression numérique ou lettrage adhésif. Tous types de véhicules</p>
    <p>Pose dans nos locaux ou sur votre site</p>
    <p>Clients : Professionnels, particuliers, associations, institutionnels</p>
    <button data-target="modal1" class="btn modal-trigger grey hoverable z-depth-5">Demande devis en ligne</button>
    <div class="carousel carou ">
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/vehi_adhesif/adhesif_imprime_quadri.jpg" alt="adhesif_imprime_quadri ad2c langon"><caption>Adhésif imprim quadri</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/vehi_adhesif/adhesif_lettrage_camion.jpg" alt="adhesif lettrage camion ad2c langon"><caption>Adhésif lettrage camion</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/vehi_adhesif/adhesif_lettrage_decoupe.jpg" alt="Adhesif lettrage découpe ad2c langon"><caption>Adhésif lettrage découpe</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/vehi_adhesif/adhesif_lettrage_quadri_4l.jpg" alt="adhesif_lettrage_quadri_4l ad2c langon"><caption>Adhésif lettrage quadri 4l</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/vehi_adhesif/adhesif_microperfore_lettrage_decoupe.jpg" alt="adhesif_microperfore_lettrage_decoupe ad2c langon"><caption>Adhésif microperfore lettrage découper</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/vehi_adhesif/adhesif_quadri_decoupe_forme_bus.jpg" alt="adhesif_quadri_decoupe_forme_bus ad2c langon"><caption>Adhésif quadri découpe bus</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/vehi_adhesif/deco_adhesif_quadri_remorque.jpg" alt="Déco adhésif quadri remorque ad2c lagon"><caption>Déco adhésif quadri remorque</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/vehi_adhesif/deco_vehicule_lettrage_vinyl.jpg" alt="deco vehicule lettrage vinyl ad2c langon"><caption>Déco véhicule lettrage vinyl</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/vehi_adhesif/lettrage_adhesif.jpg" alt="lettrage adhésif ad2c langon"><caption>Lettrage adhésif</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/vehi_adhesif/vehicule_adhesif_lettrage.jpg" alt="Véhicule adhésif letterag ad2c langon"><caption>Véhicule adhésif lettrage</caption></a>    
    </div>
  </div>
  <div class="center section magnetiq">
    <h4 id="magnetique">Décoration vehicule</h4>
    <h4>Magnétiques</h4>
    <p>Impression numérique ou lettrage adhésif</p>
    <p>Fabrication sur mesures</p>
    <p>Clients : Professionnels, associations, institutionnels</p>
    <button data-target="modal1" class="btn modal-trigger grey hoverable z-depth-5">Demande devis en ligne</button>
    <div class="carousel carou ">
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/magnetiques/magnetique_pub.jpg" alt="Pub magnétique ad2c langon"><caption>Pub magnétique</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/magnetiques/magnetique_visuel_numerique.jpg" alt="Magnétique visuel numérique ad2c langon"><caption>Magnétique visuel numérique</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/magnetiques/plaque_magnetique_vehicule.jpg" alt="Plaque magnétique"><caption>Plaque magnétique</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/magnetiques/rouleau_magnetique.jpg" alt="Rouleau magnétique ad2c langon"><caption>Rouleau magnétique</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/magnetiques/magnetique.jpg" alt="magnétique ad2c langon"><caption>Magnétique</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/magnetiques/magnetique_quadri.jpg" alt="Magnétique quadri ad2c langon"><caption>Magnétique quadri</caption></a>
    </div>
  </div>
  <div class="center section microf">
    <h4 id="microperfore">Décoration vehicule</h4>
    <h4>Microperforé</h4>
    <p>Impression numérique ou lettrage adhésif</p>
    <p>Pose dans nos locaux ou sur votre site. Fabrication sur mesures</p>
    <p>Clients : Professionnels, associations, institutionnels</p>
    <button data-target="modal1" class="btn modal-trigger grey hoverable z-depth-5">Demande devis en ligne</button>
    <div class="carousel carou ">
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/microperfore/adh_microperfore.jpg" alt="Adhésif microperforé ad2c langon"><caption>Adhésif microperforé</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/microperfore/micro_perfore_vehicule.jpg" alt="Adhésif microperforé véhicule ad2c langon"><caption>Adhésif microperforé véhicule</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/microperfore/microperfore_adh.jpg" alt="Microperforé ad2c langon"><caption>Microperforé</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/microperfore/microperfore_lunette_arriere.jpg" alt="Microperforé lunette ad2c langon"><caption>Microperforé lunette</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/microperfore/microperfore_lunettearriere.jpg" alt="Véhicule microperforé ad2c langon"><caption>Véhicule microperforé</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_vehicule/microperfore/vehicule_microperfore.jpg" alt="Microperforé vitre ad2c langon"><caption>Microperforé vitre</caption></a>
    </div>
  </div>
  <div class="section grey center" >
    <h4 id="stand">Stand</h4>
    <p>Roll’up Beach Flag Kakémono Fond de Stand Comptoir d’accueil Bâche PVC Présentoir Mobilier personnalisé
    </p>
    <button data-target="modal1" class="btn modal-trigger grey hoverable z-depth-5">Demande devis en ligne</button>
    <!--<div id="rollup"></div>
  <div id="flag"></div>
  <div id="kakemono"></div>
  <div id="fonds"></div>
  <div id="comptoirs"></div>-->
    <div class="carousel carou stan">
      <a class="carousel-item to"><img height="100%" width="100%" src="../../data/serigraphie/stand_evenementiel/bache_enseigne_exterieure.JPG" alt="Bâche enseigne exterieure ad2c langon"><caption>Bâche enseigne exterieure</caption></a>
      <a class="carousel-item ta"><img height="100%" width="100%" src="../../data/serigraphie/stand_evenementiel/bache_exterieur.jpg" alt="Bâche exterieure ad2c langon"><caption>Bâche exterieure</caption></a>
      <a class="carousel-item ts"><img height="100%" width="100%" src="../../data/serigraphie/stand_evenementiel/beach_flag.jpg" alt="beach_flag ad2c langon"><caption>Beach flag</caption></a>
      <a class="carousel-item ti"><img height="100%" width="100%" src="../../data/serigraphie/stand_evenementiel/comptoir.JPG" alt="Comptoir ad2c langon"><caption>Comptoir</caption></a>
      <a class="carousel-item to"><img height="100%" width="100%" src="../../data/serigraphie/stand_evenementiel/fond_de_stand.jpg" alt="fond de stand ad2c langon"><caption>Fond de stand</caption></a>
      <a class="carousel-item ts"><img height="100%" width="100%" src="../../data/serigraphie/stand_evenementiel/photo_stand_2.jpg"><caption>Stand</caption></a>
      <a class="carousel-item ts"><img height="100%" width="100%" src="../../data/serigraphie/stand_evenementiel/rollup_beach_flag.jpg" alt="Rollup Beach flag ad2c langon"><caption>Rollup Beach flag</caption></a>
      <a class="carousel-item ta"><img height="100%" width="100%" src="../../data/serigraphie/stand_evenementiel/stand_salon_foire.jpg" alt="Stand salon de foire ad2c langon"><caption>Stand salon de foire</caption></a>
      <a class="carousel-item ts"><img height="100%" width="100%" src="../../data/serigraphie/stand_evenementiel/stand_vinitech.jpg" alt="Stand vinitech ad2c langon"><caption>Stand vinitech</caption></a>
    </div>
  </div>
  <div class="center section blue darken-4" >
    <h4 id="deco">Décoration intérieure</h4>
    <p>Impression numérique ou lettrage adhésif</p>
    <p>Stickers, tableaux, toiles tendues, bâches, affiches</p>
    <p>Fabrication sur mesures, diverses finitions</p>
    <p>Clients : Professionnels, particuliers, associations, institutionnels</p>
    <button data-target="modal1" class="btn modal-trigger grey hoverable z-depth-5">Demande devis en ligne</button>
    <div class="carousel carou ">
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_interieure/adhesif_depoli_deco.jpg" alt="Adhésif depoli déco ad2c langon"><caption>Adhésif depoli déco</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_interieure/adhesif_signaletique_mur.jpg" alt="Adhésif signalétique mur ad2c langon"><caption>Adhésif signalétique mur</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_interieure/adhesif_sol.jpg" alt="Adhésif sol ad2c langon"><caption>Adhésif sol</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_interieure/lettres_decoupees_signaletique.jpg" alt="Lettres découpées signalétique ad2c langon"><caption>Lettres découpées signalétique</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_interieure/panneau_credence_deco.jpg" alt="Panneau décoration"><caption>Panneau décoration</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_interieure/panneau_signaletique.jpg" alt="Panneau signalétique"><caption>Panneau signalétique</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_interieure/plexi_signaletique.jpg" alt="Plexi signalétique ad2c langon"><caption>Plexi signalétique</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_interieure/toile_expo.jpg" alt="Toile expo ad2c langon"><caption>Toile expo</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" src="../../data/serigraphie/decoration_interieure/toile_tendue_tableau.jpg" alt="Toile tendue tableau ad2c langon"><caption>Toile tendue tableau</caption></a>
    </div>
  </div>
  <div class="section objetPub center" >
    <h4 id="objet_pub">Objet Publicitaire</h4>
    <p>Impression numérique ou lettrage adhésif</p>
    <p>Stickers, tableaux, toiles tendues, bâches, affiches</p>
    <p>Fabrication sur mesures, diverses finitions</p>
    <p>Clients : Professionnels, particuliers, associations, institutionnels</p>
    <span class="btn grey hoverable z-depth-5"><a href="http://www.catcasta.com" class="white-text">Catalogue en ligne</a></span>
    <button data-target="modal1" class="btn modal-trigger grey hoverable z-depth-5">Demande devis en ligne</button>
    <div class="carousel carou    ">
      <a class="carousel-item"><img height="100%" src="../../data/serigraphie/objet_pub/Cadeaux_publicitaires.jpg" alt="Cadeaux_publicitaires ad2c langon"><caption>Cadeaux publicitaires</caption></a>
      <a class="carousel-item"><img height="100%" src="../../data/serigraphie/objet_pub/cle_usb_publicitaire.jpg" alt="cle_usb_publicitaires ad2c langon"><caption>clé usb publicitaires</caption></a>
      <a class="carousel-item"><img height="100%" src="../../data/serigraphie/objet_pub/mugs_cadeaux_pub.jpg" alt="mugs_cadeaux_pub"><caption>Mugs cadeaux</caption></a>
      <a class="carousel-item"><img height="100%" src="../../data/serigraphie/objet_pub/gobelet_personnalise.jpg" alt="gobelet_personnalise ad2c langon" ><caption>Gobelet personnalisé</caption></a>
      <a class="carousel-item"><img height="100%" src="../../data/serigraphie/objet_pub/stylo_metal_boite.jpg" alt="stylo metal boite ad2c langon" ><caption>Stylo métal boîte</caption></a>
      <a class="carousel-item"><img height="100%" src="../../data/serigraphie/objet_pub/stylo-bille-senator-dart-clear-personnalise.jpg" alt="stylo-bille-senator-personnalise ad2c langon" ><caption>Stylo bille senator personnalisé</caption></a>
      <a class="carousel-item"><img height="100%" src="../../data/serigraphie/objet_pub/sac_papier_publicitaire.jpeg" alt="sac_papier_publicitaire" alt="Sac papier publicitaire ad2c langon"><caption>Sac papier publicitaire</caption></a>
      <a class="carousel-item "><img height="100%" src="../../data/serigraphie/objet_pub/tours_de_cou.jpg" alt="Tours de cou ad2c langon"><caption>Tours de cou</caption></a>
      <a class="carousel-item "><img height="100%" src="../../data/serigraphie/objet_pub/stylos.jpg" alt="stylo ad2c langon"><caption>Stylo</caption></a>
      <a class="carousel-item "><img height="100%" src="../../data/serigraphie/objet_pub/verre_plastique_personnalise.jpg" alt="verre_plastique_personnalise ad2c langon"><caption>Verre plastique personnalisé</caption></a>
    </div>
  </div>
  <div class="section tampon center" >
    <h4 id="tampon">Tampon</h4>
    <p>Tampons et cartouches de marque Troda</p>
    <p>Tampons à usage quotidien (Printy), professionnel (Métal Line) de poche (Mobile Printy), dateurs</p>
    <p>Gravure de plaque</p>
    <button data-target="modal1" class="btn modal-trigger grey hoverable z-depth-5">Demande devis en ligne</button>
    <div id="trodat"></div>
    <div class="carousel carou ">
      <a class="carousel-item"><img height="100%" width="100%" alt=" langon" src="../../data/serigraphie/tampon/cassette_encre_trodat.jpg" alt="Cassette encre trodat ad2c langon"><caption>Cassette encre trodat</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" alt=" langon" src="../../data/serigraphie/tampon/plaque_professionnelle.jpg" alt="Plaque professionnelle ad2c langon"><caption>Plaque professionnelle</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" alt=" langon" src="../../data/serigraphie/tampon/tampon_automatique_printy.jpg" alt="Tampon automatique ad2c langon"><caption>Tampon automatique printy</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" alt=" langon" src="../../data/serigraphie/tampon/tampon_encreur_bois.jpg" alt="Tampon encreur bois ad2c langon"><caption>Tampon encreur bois</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" alt=" langon" src="../../data/serigraphie/tampon/Tampon_Encreur.jpg" alt="Tampon Encreur ad2c langon"><caption>Tampon Encreur</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" alt=" langon" src="../../data/serigraphie/tampon/tampon_trodat_printy_4913.jpg" alt="Tampon trodat printy ad2c langon"><caption>Tampon trodat printy</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" alt=" langon" src="../../data/serigraphie/tampon/tampon-dateur-encre.jpg" alt="Tampon dateur encre ad2c langon"><caption>Tampon dateur encre</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" alt=" langon" src="../../data/serigraphie/tampon/tampon-gamme trodat.jpg" alt="Tampon gamme trodat ad2c langon"><caption>Tampon gamme trodat</caption></a>
      <a class="carousel-item"><img height="100%" width="100%" alt=" langon" src="../../data/serigraphie/tampon/Trodat_mobile.jpg" alt="Trodat mobile ad2c langon"><caption>Trodat mobile</caption></a>
    </div>
  </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content">
              <div class="row " id="formulaire">
                      <form action="#" class="col s12 col l12 black-text">
                              <h4 class="black-text center">Demande devis en ligne</h4>
                              <div class="row">
                                      <div class="input-field col l12 col s12">
                                              <i class="material-icons prefix">group</i>
                                              <input id="first_name" type="text" class="validate">
                                              <label for="first_name">Nom de la société</label>
                                      </div>
                                      <div class="input-field col s12 col l6">
                                              <i class="material-icons prefix">location_on</i>
                                              <input id="adress" type="text" class="validate">
                                              <label for="adress">Adresse</label>
                                      </div>
                                      <div class="input-field col s12 col l6">
                                              <i class="material-icons prefix">phone_circle</i>
                                              <input id="last_name" type="number" class="validate">
                                              <label for="last_name" data-error="wrong">Tél</label>
                                      </div>
                                      <div class="input-field col s12 col l6">
                                              <i class="material-icons prefix">email</i>
                                              <input id="email" type="email" class="validate">
                                              <label for="email">Email</label>
                                      </div>

                                      <div class="input-field col s12 col l6">
                                              <i class="material-icons prefix">account_circle</i>
                                              <input id="contact_name" type="text" class="validate">
                                              <label for="contact_name">Nom du contact</label>
                                      </div>
                              </div>
                              <div class="row">

                              </div>
                              <div class="row center">

                                      <input type="checkbox" id="contactCheck" />
                                      <label for="contactCheck">
                                              <h4 class="black-text">Demande de contact</h4>
                                      </label>

                              </div>
                              <div class="row">
                                      <div class="col l6">

                                              <input class="white" type="checkbox" ng-model="imprime" id="impri" />

                                              <label for="impri">
                                                      <h4 class="black-text">Imprimerie</h4>
                                              </label>

                                              <div ng-show="imprime" class=" white">
                                                      <div class="row">
                                                              <div class="input-field col s12 ">
                                                                      <input id="typeP" ng-model="inputVal" type="text" ng-init="inputVal" class="validate">
                                                                      <label for="typeP">Type de produit</label>
                                                              </div>
                                                              <div class="input-field col s12  black-text">
                                                                      <input id="qualite" type="text" class="validate">
                                                                      <label for="qualite">Qualité</label>
                                                              </div>
                                                              <div class="input-field col s12  black-text">
                                                                      <input id="format" type="text" class="validate">
                                                                      <label for="format">Format</label>
                                                              </div>
                                                      </div>

                                                      <div class="row black-text">
                                                              <div class="input-field col s12 ">
                                                                      <input id="amount"  type="number" class="validate">
                                                                      <label for="amount" data-error="wrong">Quantité</label>
                                                              </div>
                                                              <div class="switch col s12">
                                                                      <label>
                                                                              <span>Recto</span>
                                                                              <input id="RecVer" ng-click="isSwitchedOn1 = !isSwitchedOn1" ng-checked="isSwitchedOn1" type="checkbox">
                                                                              <span class="lever"></span>
                                                                              Recto/Verso
                                                                      </label>
                                                              </div>

                                                              <div class="input-field col s12 ">
                                                                      <input id="pages" type="number" class="validate">
                                                                      <label for="pages" data-error="wrong">Nombre de pages</label>
                                                              </div>

                                                      </div>
                                                      <div class="row">
                                                              <!-- Switch -->
                                                              <div class="switch mySwitch black-text col s12">
                                                                      <label>
                                                                              <h6 class="black-text">Fichier fourni :
                                                                              </h6>
                                                                              <span>Non</span>
                                                                              <input id="fileF" type="checkbox">
                                                                              <span class="lever"></span>
                                                                              <span>Oui</span>
                                                                      </label>
                                                              </div>
                                                              <div class="input-field col s12">
                                                                      <input id="finition" type="text" class="validate">
                                                                      <label for="finition">Finition</label>
                                                              </div>
                                                      </div>
                                                      <div class="row">
                                                              <div class="input-field col s12">
                                                                      <input id="remarque" type="text" class="validate">
                                                                      <label for="remarque">Remarques</label>
                                                              </div>
                                                      </div>

                                              </div>
                                      </div>
                                      <div class="col l6">
                                              <input class=" white" type="checkbox" ng-model="serig" id="seri" />

                                              <label for="seri">
                                                      <h4 class="black-text">Sérigraphie</h4>
                                              </label>

                                              <div ng-show="serig" class=" white">
                                                      <span>
                                                              <div class="row center">
                                                                      <p class="col l6 s12">
                                                                              <input type="checkbox" id="panCheck" />
                                                                              <label for="panCheck">Panneaux
                                                                              </label>
                                                                      </p>
                                                                      <p class="col l6 s12">
                                                                              <input type="checkbox" id="enseignesCheck" />
                                                                              <label for="enseignesCheck">Enseignes
                                                                              </label>
                                                                      </p>
                                                                      <p class="col l6 s12">
                                                                              <input type="checkbox" id="autocolCheck" />
                                                                              <label for="autocolCheck">Autocollants
                                                                              </label>
                                                                      </p>
                                                                      <p class="col l6 s12">
                                                                              <input type="checkbox" id="textilesCheck" />
                                                                              <label for="textilesCheck">Textiles
                                                                              </label>
                                                                      </p>
                                                                      <p class="col l6 s12">
                                                                              <input type="checkbox" id="standsCheck" />
                                                                              <label for="standsCheck">Stands
                                                                              </label>
                                                                      </p>
                                                                      <p class="col l6 s12">
                                                                              <input type="checkbox" id="objCheck" />
                                                                              <label for="objCheck">Objets pub
                                                                              </label>
                                                                      </p>
                                                                      <p class="col l6 s12">
                                                                              <input type="checkbox" id="bacheCheck" />
                                                                              <label for="bacheCheck">Bâches
                                                                              </label>
                                                                      </p>
                                                                      <p class="col l6 s12">
                                                                              <input type="checkbox" id="decovCheck" />
                                                                              <label for="decovCheck">Déco véhicule
                                                                              </label>
                                                                      </p>
                                                                      <p class="col l6 s12">
                                                                              <input type="checkbox" id="tamponsCheck" />
                                                                              <label for="tamponsCheck">Tampons
                                                                              </label>
                                                                      </p>
                                                                      <p class="col l6 s12">
                                                                              <input type="checkbox" id="graphCheck" />
                                                                              <label for="graphCheck">Graphisme
                                                                              </label>
                                                                      </p>
                                                                      <p class="col l6 s12">
                                                                              <input type="checkbox" id="autrecheck" />
                                                                              <label for="autrecheck">Autres
                                                                              </label>
                                                                      </p>
                                                              </div>
                                                      </span>
                                              </div>
                                      </div>
                              </div>


                      </form>
              </div>
      </div>
      <div class="modal-footer center">
              <button ng-click="getValue()" class="modal-action modal-close waves-effect waves-green btn-flat center col l12">Valider</button>
      </div>
</div>

</div>
