
.home {
    color: whitesmoke;
    background-color: black;
 }

 #carouselHome{
    width: 100%;
    height: 525px;
    z-index: 1;
    border-radius: 9px;
 }
.label {
  font-size:15px;
  color: black;
}

@media screen and (max-width: 768px) {
	#logomobile {
            width: 150px;
	}
	#carouselHome .ch {
		    width: 100% ;
        height: initial;

	}
.carousel .indicators {
    position: inherit;
    align-items: center;
    left: 52% !important;
    right: 0;
    top: 70% !important;
    bottom: 0;
    margin: 0;
}
.picto4 {
	width: 35%;
}


	.text_respon {
    font-size: 16px;
}
}

   /* label focus color */
   .input-field input[type=text]:focus + label {
    color: rgb(10, 18, 65);
  }
     /* label focus color */
     .input-field input[type=text]:active + label {
      color: rgb(10, 18, 65);
    }
  .input-field label {
    color: rgb(39, 41, 189);
  }
   /* icon prefix focus color */
   .input-field .prefix.active {
    color: rgb(26, 122, 26);
  }
   /* icon prefix focus color */
   .input-field .active {
    color: rgb(26, 122, 26);
  }
  .input-field label {
    pointer-events: auto;
  }