<div class="container">
        <div class="info row center">
                <h3>Contact</h3>
                <!-- <div class="adress col l6 col s12 center">
                        <h5>Nos locaux sont situé au :
                                <br> 5, route de Landiras
                                <br>33210 TOULENNE</h5>
                </div> -->
                <div class="col s12 footer-contact hide-on-med-and-up">
                                <p class="grey-text text-lighten-4">
                                  <i class="material-icons loc">
                                    <a href="#!/contact"></a> location_on</i>      5, route de Landiras 33210 TOULENNE</p>
                                <p>
                                  <i class="material-icons phone">phone</i>        05 56 62 28 24   
                          
                                  <i class="material-icons email">email</i>       contact@ad2c.fr</p>
                                  <!-- <a href="https://facebook.com" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
                                  <a class="waves-effect waves-light btn-floating btn-large social facebook">
                                      <i class="fa fa-facebook"></i> Sign in with facebook</a> -->
                                      <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=238&layout=button_count&action=recommend&size=large&show_faces=false&share=true&height=46&appId" width="238" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                              </div>
        </div>
        <div class="row">
                <div id="map" class="circle col l8 push-l4 col s11 push-s1"></div>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqGJOt0C1vBKGzL-FUR0y5zLMZt2IUopo&callback=initMap"
                /></script>
        </div>
</div>
        <!-- <div class="row  white-text center" id="formulaire1">
                <h3>Formulaire devis</h3>
                <form class="col s12 ">
                        <div class="row">
                                <div class="input-field col s6">
                                        <input id="first_name" type="text" class="validate">
                                        <label for="first_name">Entreprise</label>
                                </div>
                                <div class="input-field col s6">
                                        <input id="last_name" type="text" class="validate">
                                        <label for="last_name">Nom utilisateur</label>
                                </div>
                                <div class="input-field col s6">
                                        <input id="last_name" type="number" class="validate">
                                        <label for="last_name" data-error="wrong">Numéro siret</label>
                                </div>
                        </div>
                        <div class="row">
                                <div class="input-field col s12">
                                        <input disabled value="I am not editable" id="disabled" type="text" class="validate">
                                        <label for="disabled">Disabled</label>
                                </div>
                        </div>
                        <div class="row">
                                <div class="input-field col s12">
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Email</label>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col s12">
                                        This is an inline input field:
                                        <div class="input-field inline">
                                                <input id="email" type="email" class="validate">
                                                <label for="email" data-error="wrong" data-success="right">Email</label>
                                        </div>
                                </div>
                        </div>


                        <button>Valider</button>
                </form>
        </div> -->