.footerlien {
	text-align: center;
}
.footer-contact {
    font-size: 20px;
}
.lien {

    font-size: 11.5px;
    padding: 3px 3px;
}

.phone {
    color: #E7007C;
}
.email {
    color: #F0FF00;
}
.loc {
    color:#4A81EA;
}
#logofooter {
    width: 70%;
      transform: rotate(-5deg);
}
.footer {
    text-align: center;
    background-color: black;
}
.footer-copyright {
    font-size: 8px;
    
    background-color: black;
}

