<div class="hide-on-med-and-down footer row" id="footer">
  <div class="row">

    <div class="col l12 footer-contact">
      <p class="grey-text text-lighten-4">
        <i class="material-icons loc">
          <a href="#!/contact"></a> location_on</i> 5, route de Landiras 33210 TOULENNE</p>
      <p>
        <i class="material-icons phone">phone</i> 05 56 62 28 24</p>

      <p>
        <i class="material-icons email">email</i> contact@ad2c.fr</p>
      <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FAD2C-750244175031582%2F&width=228&layout=button_count&action=recommend&size=large&show_faces=false&share=true&height=46&appId"
        width="228" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>

  </div>
  <div class="col l2 s2">
    <a href="#!/accueil">
      <img src="../../data/logo.png" id="logofooter" alt="logo_ad2c">
    </a>
  </div>
  <div class="col l2 s2 center">
    <a class="white-text" href="#!/signaletique">Signalétique</a>
    <ul class="footerlien center">
      <li>
        <a class="lien center" ng-href="#!/signaletique#deco_vehicule">Enseigne Panneau</a>
      </li>
      <li>
        <a class="lien" href="#!/signaletique#deco_vehicule">Décoration véhicule</a>
      </li>
      <li>
        <a class="lien " href="#!/signaletique#deco_vitrine">Décoration vitrine</a>
      </li>
      <li>
        <a class="lien " href="#!/signaletique#stand">Stand</a>
      </li>
      <li>
        <a class="lien " href="#!/signaletique#deco">Déco</a>
      </li>
      <li>
        <a class="lien " href="#!/signaletique#objet_pub">Objet Pub</a>
      </li>
      <li>
        <a class="lien " href="#!/signaletique#tampon">Tampon</a>
      </li>
    </ul>
  </div>
  <div class="col l2 s2">
    <a class="white-text " href="#!/imprimerie">Imprimerie</a>
  </div>
  <div class="col l2 s2">
    <a class="white-text left-algin" href="#!/textile">Textile</a>
  </div>
  <div class="col l2 s2">
    <a class="white-text" href="#!/graphisme">Graphisme</a>
  </div>
  <div class="col l2 s2">
    <a class="white-text" href="#!/contact">Contact</a>
  </div>
</div>
<div class="footer-copyright">
  <a class="grey-text text-lighten-4 right" href="#!">CGU</a>
  <a class="grey-text text-lighten-4 align-center" href="http://www.kevinvideau.fr">Créer par Kévin Videau</a>
  <a class="grey-text text-lighten-4 left" href="admin#!">Admin</a>
</div>