<div class="container">
        <div class="info row center">
                <h4>AD2C</h4>
                <div class="col s12 footer-contact hide-on-med-and-up">
                        <p class="grey-text text-lighten-4">
                                <i class="material-icons loc">
                                        <a href="#!/contact"></a> location_on</i> 5, route de Landiras 33210 TOULENNE</p>
                        <p>
                                <i class="material-icons phone">phone</i> 05 56 62 28 24
                                <i class="material-icons email">email</i> contact@ad2c.fr</p>
                        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FAD2C-750244175031582%2F&width=228&layout=button_count&action=recommend&size=large&show_faces=false&share=true&height=46&appId"
                                width="228" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
        </div>
        <div class="row center">
                <div id="map" class="circle col l8 push-l4 col s11 push-s1"></div>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqGJOt0C1vBKGzL-FUR0y5zLMZt2IUopo&callback=initMap"
                /></script>
        </div>
</div>